* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Satoshi", sans-serif;
  }
  
  body {
    background-color: #feffdb;
  }
  
  nav img {
    width: 100px;
    border-radius: 50%;
  }
  
  nav {
    background-color: #07161a;
  }
  

#menu a:hover
{
  color: #ffc60b !important;
  text-decoration: underline;
}