* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Satoshi", sans-serif;
}

body {
  background-color: #feffdb;
}

a{
  text-decoration: none !important;
}

nav img {
  width: 60px;
  border-radius: 50%;
}

nav {
  background-color: #07161a;
}

.category {
  background-color: #fff9e7;
}

.category h1 {
  color: #332923;
}


.category-details {
  position: relative;
  /* transform: translate(0%, 120%); */
}

.hero{
  margin-top: 86px;
}

.hero-bg {
  background-image: url(../img/hero-background.jpg);
  background-size: cover;
}


.feature img{
  width: 50%;
}



/* 
.btn-ou{
        background-color: #FFC60B !important;
} */



.category-details h2,
.hover-btn {
  white-space: nowrap;
}

.hover-btn {
  transition: all 0.2s;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.category-item {
  display: block;
  position: relative;
  background-color: #fff;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  color:#332923 !important;
}


.category .btn-outline-secondary{
  --bs-btn-color: #332923 !important;
  --bs-btn-border-color: #332923 !important;
  --bs-btn-hover-color: #fff9e7 !important;
  --bs-btn-hover-bg: #332923 !important;
  --bs-btn-hover-border-color: #332923 !important;
  --bs-btn-active-color: #fff9e7;
  --bs-btn-active-bg: #332923 !important;
  --bs-btn-active-border-color: #332923 !important;
}




@media (hover){
  .hover-btn{
    opacity: 0;
  }

  .category .btn-outline-secondary {
    --bs-btn-color: #ffc60b !important;
    --bs-btn-border-color: #ffc60b !important;
    --bs-btn-hover-color: rgb(0, 0, 0) !important;
    --bs-btn-hover-bg: #ffc60b !important;
    --bs-btn-hover-border-color: #ffc60b !important;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #ffc60b !important;
    --bs-btn-active-border-color: #ffc60b !important;
    --bs-btn-disabled-color: #6c757d;
    --bs-btn-disabled-border-color: #6c757d;
  }

  .category-item:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: #332923;
    height: 45px;
    width: 45px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
  }

  .category-item:hover:before {
    transform: scale(31);
  }
  
  .category-item:hover h2{
    color:#feffdb;
  }
  
  .category-item:hover p {
    transition: all 0.3s ease-out;
    color: rgba(255, 255, 255, 0.8);
  }
  .category-item:hover h3 {
    transition: all 0.3s ease-out;
    color: #ffffff;
  }
  

  .category-item:hover .hover-btn {
    opacity: 1;
    top: 95%;
  }
  
}





.feature h4{
  color: rgb(75, 75, 75) !important;
  
}

.feature h6{
  font-style: italic;
}

.feature a,
.feature i {
  color: #e6b20a;
  transition: all 0.2s;
  text-decoration: none;
}

.feature a:hover,
#menu a:hover,
footer a:hover {
  color: #ffc60b !important;
  text-decoration: underline;
}

footer {
  background-color: #0d2b33;
}

footer a {
  text-decoration: none;
  color: #fff;
}

.footer-logo img{
  height: 150px;
  width: 150px;
}

footer p{
  margin: 0;
}

footer h4{
  color: #e6b20a;
}

ul {
  padding-left: 0 !important;
}

li {
  list-style-type: none;
}

.navbar-toggler {
  color: #fff9e7 !important;
  border: var(--bs-border-width) solid #fff9e7 !important;
}



/* OFFCANVAS */

.offcanvas-header{
  background-color: #07161a;
  color: #fff;
}

.offcanvas-header img{
  width: 40px;
}

.offcanvas-body .btn:hover,.list-group-item:hover:not(.active){
  background-color: #fff9e7;
}

.list-group-item a{
  color: black;
}




@media screen and (max-width: 992px) {
  .hero-bg {
    background-color: #ffc60b;
    background-image: none;
  }
  .feature-img{
    border-right: 1px solid rgb(141, 141, 141);
  }

  .feature img{
    width: 100%;
  }
  .feature-details{
    margin-left: -20px;
  }

}

@media screen and (max-width: 767px) {

  .footer-quick-link li{
    border-right: #feffdb 1px solid;
  }  
  .footer-quick-link li:last-child{
    border:none;
  }  

}



@media screen and (max-width: 665px) {

  .feature-details{
    margin-left: 0;
  }

}

@media screen and (max-width: 575px) {
  .feature-img{
    border: none;
  }

  .feature-details{
    padding: 0 10px;
  }

}


